
.textArea {
  color: black;
  position: relative;
  width: 100%;
  padding: 10px;
  /* padding-right: 10px; */
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  resize: none;
  height: auto;
  overflow-y: auto;
  field-sizing: content;
  max-height: 350px;
}

.textArea:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}



