.textArea {
  color: black;
  position: relative;
  width: 100%;
  padding: 10px;
  /* padding-right: 10px; */
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  resize: none;
  height: auto;
  overflow-y: auto;
  field-sizing: content;
  max-height: 300px;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
   &::-webkit-scrollbar-thumb:active{
  	background: rgba(0,0,0,.9);
  }
}


.textArea:focus {
  border-color: #66afe9;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}